body {
    margin: 0;
    font-family: Serif;
}

a {
    color: white;
}

.parallax-container {
    position: relative;
    overflow: hidden;
    height: 650px;
}

.parallax-right {
    position: relative;
    overflow: hidden;
    height: 650px;
    z-index: -1;
}

.parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.parallax img {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    /*-webkit-transform: translate3d(0, 0, 0);*/
    /*transform: translate3d(0, 0, 0);*/
    /*-webkit-transform: translateX(-50%);*/
    /*transform: translateX(-50%);*/
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
}

.header-card {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /*  width: 50%;*/
    height: 20%;
    /*margin: auto;*/
    background: rgba(0, 0, 0, 0.5);
    color: white;
    /*font-family: sans-serif;*/
}

.foot-card {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /*  width: 50%;*/
    height: 8%;
    /*margin: auto;*/
    color: white;
    /*font-family: sans-serif;*/
}

.opaque-black {
    background: rgba(0, 0, 0, 0.5);
}

nav ul li.active {
    background-color: rgba(0, 0, 0, 0.3);
}



.side-nav .collapsible,
.side-nav.fixed .collapsible {
    border: none;
    box-shadow: none;
}

.side-nav .collapsible li,
.side-nav.fixed .collapsible li {
    padding: 0;
}

.side-nav .collapsible-header,
.side-nav.fixed .collapsible-header {
    background-color: transparent;
    border: none;
    line-height: inherit;
    height: inherit;
    padding: 0 30px;
}

.side-nav .collapsible-header:hover,
.side-nav.fixed .collapsible-header:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.side-nav .collapsible-header i,
.side-nav.fixed .collapsible-header i {
    line-height: inherit;
}

.side-nav .collapsible-body,
.side-nav.fixed .collapsible-body {
    border: 0;
    background-color: #fff;
}

.side-nav .collapsible-body li a,
.side-nav.fixed .collapsible-body li a {
    padding: 0 37.5px 0 45px;
}


/*********************
  Media Query Classes
**********************/
@media only screen and (max-width: 600px) {
    .hide-on-small-only, .hide-on-small-and-down {
        display: none !important;
    }
}

@media only screen and (max-width: 992px) {
    .hide-on-med-and-down {
        display: none !important;
    }
}

@media only screen and (min-width: 601px) {
    .hide-on-med-and-up {
        display: none !important;
    }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
    .hide-on-med-only {
        display: none !important;
    }
}

@media only screen and (min-width: 993px) {
    .hide-on-large-only {
        display: none !important;
    }
}

@media only screen and (min-width: 993px) {
    .show-on-large {
        display: block !important;
    }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
    .show-on-medium {
        display: block !important;
    }
}

@media only screen and (max-width: 600px) {
    .show-on-small {
        display: block !important;
    }
}

@media only screen and (min-width: 601px) {
    .show-on-medium-and-up {
        display: block !important;
    }
}

@media only screen and (max-width: 992px) {
    .show-on-medium-and-down {
        display: block !important;
    }
}

@media only screen and (max-width: 600px) {
    .center-on-small-only {
        text-align: center;
    }
}