html,
body {
    height: 100%;
}
/*body {*/
/*font-family: 'Roboto Condensed', sans-serif;*/
/*}*/
.main {
    width: 100%;
    height: 100%;
    background-image: url(images/mvaerial.jpg);
    background-size: cover;
    background-position: 50% 50%;
}